

.list  {
    display: flex;
    align-content: left;
    margin: 25px 25px;
    list-style-type: none;
}

.eachitem {
    border-right: 1px solid #bbb;
    float: left;
    margin-right: 14px 16px;
  font-size: 20px;

}


.eachLink {
    display: block;
    color: #3BBA9C;
    text-align: center;
    padding: 14px 16px;

  }

.navbar {
    height: 130px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background-color: black;

}

.logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: white;
    margin-left: 0px;
}

.logo_text {
    margin-left: 100px;
    color: #3BBA9C;
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
    letter-spacing: -0.025em;
}

